<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	 <typeAliases>
		<!-- 给实体类起别名默认为类名 -->
		<package name="entity"/>
	</typeAliases> 
	<!-- mybatis的运行环境 -->
	<environments default="mysql">
		<environment id="mysql">
		<!-- 事务管理方式 -->
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>	
	</environments>
	<mappers>
		<mapper resource="com/hp/dao/StudentDao.xml"/>
		<mapper resource="com/hp/dao/SchoolDAO.xml"/>
		<mapper resource="com/hp/dao/PeopleDAO.xml"/>
	</mappers>
</configuration>
